<!-- Login content container -->
<main class="flex-col-center login-container bg-white">
  <!-- header -->
  <section class="d-flex align-items-end text-center books-div">
    <div class='flex-col-center header-pos'>
      <h1 class="text-success fw-bold fs-3rem border border-warning rounded-pill heading bg-warning shadow-sm"></i>&nbsp;BookHub&nbsp;</h1>
      <p class="fs-4 login-desc">&nbsp;Connect with millions of book lovers just like you!&nbsp;</p>
    </div>
  </section>
  <!-- login form -->
  <section class="d-flex align-items-center mt-4">
    <form class="p-3 rounded bg-gray input-group-lg shadow login-form">
      <input type="email" class="form-control my-3" placeholder="Email" id="email-login" />
      <input type="password" class="form-control my-3" placeholder="Password" id="password-login" />
      <button class="btn btn-warning w-100 my-3" type="submit">Log In</button>
      <a href="#" class="text-decoration-none text-center text-danger"><p>Forgot password?</p></a>
      <hr />
      <div class="text-center my-4">
        <a href="/signup">
          <button class="btn btn-success btn-lg" type="button">Create New Account</button>
        </a>
      </div>
    </form>
  </section>
</main>
<!-- Footer -->
<footer class="border-top border-white bg-gray mt-auto p-3 text-muted">
  <div class="container">
    <p class="fs-p8rem">BookHub &copy; 2022</p>
  </div>
</footer>

<script src="/js/login.js"></script>
