    <!-- ++++++++++ Main ++++++++++ -->
    <div class="container-fluid">
      <div class="text-center container-fluid mt-5 col-12 row"> 
          {{#each book}}
          <div class="d-flex flex-wrap col-md-3">
            <a href="https://openlibrary.org/{{this.key}}">
              <div class="card">
                <img src="https://covers.openlibrary.org/b/id/{{this.cover}}-M.jpg" alt="">
                <h1>{{this.title}}</h1>
                <p>{{this.author}}</p>
              </div>
            </a>
          </div>
          {{/each}}
      </div>
    </div>
