  <body class="d-flex flex-column min-vh-100 bg-white">
    <!-- Signup content container -->
    <main class="flex-col-center login-container">
      <!-- header -->
      <section class="d-flex align-items-end text-center books-div">
        <div class='flex-col-center header-pos'>
          <h1 class="text-success fw-bold fs-3rem border border-warning rounded-pill heading bg-warning shadow-sm"></i>&nbsp;BookHub&nbsp;</h1>
          <p class="fs-4 login-desc">&nbsp;Connect with millions of book lovers just like you!&nbsp;</p>
        </div>
      </section>
      <!-- signup form -->
      <section class="d-flex align-items-center mt-4">
        <form class="p-3 rounded bg-gray input-group-lg shadow signup-form">
          <input type="name" class="form-control my-3" placeholder="First Name" id="firstname-signup" />
          <input type="name" class="form-control my-3" placeholder="Last Name" id="lastname-signup" />
          <input type="email" class="form-control my-3" placeholder="Email" id="email-signup" />
          <input type="password" class="form-control my-3" placeholder="Password" id="password-signup" />
          <button class="btn btn-warning w-100 my-3" type="submit">Sign Up</button>
          <hr />
          <div class="text-center my-4">
            <a href="/login">
              <button class="btn btn-success btn-lg" type="button">Already Have an Account?</button>
            </a>
          </div>
        </form>
      </section>
    </main>
    <!-- Footer -->
    <footer class="border-top border-white bg-gray mt-auto p-3 text-muted">
      <div class="container">
        <p class="fs-p8rem">BookHub &copy; 2022</p>
      </div>
    </footer>
</body>
<script src="/js/signup.js"></script>