{{#if loggedIn}}
    {{> navbar user}}
{{/if}}

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea cols="30" rows="5" class="form-control border-0" name="comment-body" placeholder="Insert Comment..."></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-success w-100">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comment-info comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}