
<body class="d-flex flex-column min-vh-100 bg-gray">
    {{#if loggedIn}}
        {{> navbar}}
    {{/if}}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
                
            <div class="text-center mt-3">
                <h1 class="mt-2 mb-0">BookHub User Name</h1>
                <img src="./assets/images/guy_not_reading.png" alt="">



                <h3 class="h2 mb-0">About Me</h3>
                    <div class="px-4 mt-4">
                        <p>La Casa De Bernarda es un drama que tiene muchos ejemplos de discurso feminista. El drama es sobre una familia que es controlado y dirigido por una mujer llamada Bernarda, y sus cincos hijas Angustias (la más vieja), Magdalena, Adela (más joven), Martirio y Amelia. También vive con ellos es Bernardas anciana madre (María Josefa), y un cuidador de la casa (La Poncia). El escenario es de un español pueblo rural llamado, Andalucía, en la década de 1930. Las mujeres viven en una sociedad que es únicamente gobernada por hombres, con todo lo centrado alrededor de los hombres también. Las mujeres no tienen la libertad o la igualdad de derechos como los hombres, y todo lo que hacen está influenciado por los hombres y el sistema social en aquel momento.</p>
                    </div>
                    <h3 class="h2 mt-2">Social Media Contacts</h3>
                    <ul class="social-media">
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-google"></i></li>
                    </ul>
            </div>    
        </div>
    </div>    
</body>    

</html>
