/* UNIVERSAL STYLING */
*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --default-hue: 275;
  --incorrect-hue: 0;
  --correct-hue: 145;
}

body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

body.correct{
  --hue: var(--correct-hue)
}

body.incorrect{
  --hue: var(--incorrect-hue)
}

.start-message{
  font-size: 2em;
  text-align: center;
}


.container{
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#feedback-container{
  border-bottom: 5px solid rgb(209, 208, 208);
  margin-bottom: 40px;
}

#question {
  font-size: 3em;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  font-size: 2em;
  width: 25%;
  border: 1px solid hsl(--var(--hue), 100%, 30%);
  background-color: hsl(var(--default-hue), 100%, 30%);
  border-radius:  5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  background-color: hsl(var(--default-hue), 100%, 70%);
}

.feedback {
  font-size: 1.7em;
  font-style: italic;
  color: rgb(161, 159, 159);
}

.start-btn, .next-btn, #initial-input, #initial-label, #initial-submit, .highscore-list-item, .timer {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

#initial-label {
  display: flex;
}

#highscore-button, #back-to-quiz {
  width: fit-content;
}
.highscores {
  display: flex;
  flex-direction: column;
}
.highscore-list-item {
  list-style-type: none;
  padding: 0;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}